// ***************************************** FONTS ***************************************************************
@font-face {
  font-family: "Allura";
  src: url(/assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Light.ttf);
}

$font-1: "Allura";
$font-2: "Poppins";
$font-3: "Roboto";

// ***************************************** COLORS ***************************************************************

$color-1: rgb(173, 125, 36);
$color-2: white;
$color-3: black;
$color-4: rgb(235, 235, 235);
$color-5: rgb(185, 185, 185);
$color-6: rgba(0, 0, 0, 0.87);

// ***************************************** MIXINS ***************************************************************

// ***************************************** PLACEHOLDERS ***************************************************************

%flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

// ****************************************************************************************************************

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
