@font-face {
  font-family: "Allura";
  src: url(/assets/fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  height: 100vh;
  color: white;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  max-width: 1344px;
  margin: 0 auto;
  padding: 25px 0;
}

header nav h2 {
  font-family: "Allura";
  font-size: 2.5rem;
  width: 100px;
}

header nav ul.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul.list.nav-list {
  width: 70%;
  max-width: 1000px;
  font-family: "Roboto";
  font-size: 0.9rem;
}

header nav ul.list.media-list {
  width: 90px;
}

header nav ul a {
  color: white;
  text-decoration: none;
}

header .title {
  position: absolute;
  height: 290px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 55px;
}

header .title::before {
  content: "Welcome to";
  position: absolute;
  font-size: 4rem;
  font-family: "Allura";
  top: -35px;
  color: #ad7d24;
}

header .title h1 {
  height: 90px;
  font-family: "Poppins";
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: 6px;
}

header .title span {
  font-family: "Roboto";
  font-size: 1rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.our-store {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  height: 500px;
}

.our-store .our-store-container {
  background: #ebebeb;
}

.our-store .dashed-border {
  border: 1px dashed #ad7d24;
  height: 530px;
  margin: 20px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-store .dashed-border h3 {
  position: relative;
  font-family: "Poppins";
  font-size: 1.6rem;
}

.our-store .dashed-border h3::before {
  content: "Discover";
  position: absolute;
  top: -35px;
  left: 8px;
  font-family: "Allura";
  font-size: 2.6rem;
  font-weight: 100;
  color: #ad7d24;
}

.our-store .dashed-border .ic-plate {
  margin: 30px 0px;
  height: 40px;
  width: 40px;
}

.our-store .dashed-border p {
  font-family: "Roboto";
  font-size: 1.3rem;
  text-align: center;
  padding: 0 15px;
}

.our-store .dashed-border .avatar-01 {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 30px 0 20px 0;
}

.our-store .dashed-border .avatar-01-name {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 500;
}

.our-store .dashed-border .avatar-01-function {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 900;
  color: #b9b9b9;
}

.our-store .our-store-pic {
  background: url(/assets/img/store-01.jpg) center/cover;
}
/*# sourceMappingURL=style.css.map */