@font-face {
  font-family: "Allura";
  src: url(/assets/fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  height: 100vh;
  color: white;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  max-width: 1344px;
  margin: 0 auto;
  padding: 25px 0;
}

header nav h2 {
  font-family: "Allura";
  font-size: 2.5rem;
  width: 100px;
}

header nav ul.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul.list.nav-list {
  width: 70%;
  max-width: 1000px;
  font-family: "Roboto";
  font-size: 0.9rem;
}

header nav ul.list.media-list {
  width: 90px;
}

header nav ul a {
  color: white;
  text-decoration: none;
}

header .title {
  position: absolute;
  height: 290px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 55px;
}

header .title::before {
  content: "Welcome to";
  position: absolute;
  font-size: 4rem;
  font-family: "Allura";
  top: -35px;
  color: #ad7d24;
}

header .title h1 {
  height: 90px;
  font-family: "Poppins";
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: 6px;
}

header .title span {
  font-family: "Roboto";
  font-size: 1rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.our-store {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.our-store .our-store-container {
  background: #ebebeb;
}

.our-store .dashed-border {
  border: 1px dashed #ad7d24;
  height: 520px;
  margin: 20px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-store .dashed-border h3 {
  position: relative;
  font-family: "Poppins";
  font-size: 1.6rem;
}

.our-store .dashed-border h3::before {
  content: "Discover";
  position: absolute;
  top: -35px;
  left: 8px;
  font-family: "Allura";
  font-size: 2.6rem;
  font-weight: 100;
  color: #ad7d24;
}

.our-store .dashed-border .ic-plate {
  margin: 30px 0px;
  height: 40px;
  width: 40px;
}

.our-store .dashed-border p {
  font-family: "Roboto";
  font-size: 1.3rem;
  text-align: center;
  padding: 0 15px;
}

.our-store .dashed-border .avatar-01 {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 30px 0 20px 0;
}

.our-store .dashed-border .avatar-01-name {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 500;
}

.our-store .dashed-border .avatar-01-function {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 900;
  color: #b9b9b9;
}

.our-store .our-store-pic {
  background: url(/assets/img/store-01.jpg) center/cover;
}

#menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 430px 800px;
      grid-template-rows: 430px 800px;
}

#menu .bg-1 {
  background: rgba(0, 0, 0, 0.87);
  height: 430px;
}

#menu .container {
  height: 200px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .container__title {
  font: 100 2.3rem "Allura";
  color: #ad7d24;
  height: 35px;
}

#menu .container__image {
  margin: 40px 0;
}

#menu .container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
}

#menu .container__item {
  position: relative;
  list-style: none;
  color: white;
  font: 100 1.2rem "Roboto";
}

#menu .container__item::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  top: 33px;
  left: 0;
  background: white;
}

#menu .bg-2 {
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
  position: relative;
}

#menu .menu-box {
  position: absolute;
  top: -140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  height: 780px;
  width: 1050px;
  border-top: 6px solid #ad7d24;
  padding-bottom: 20px;
}

#menu .menu-box .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #ad7d24;
  margin: 10px 20px;
}

#menu .menu-box .card__image {
  border-radius: 50%;
}

#menu .menu-box .card__title {
  font: 900 1rem "Roboto";
  text-transform: uppercase;
}

#menu .menu-box .card__description {
  font: 1.3rem "Roboto";
  width: 230px;
}

#menu .menu-box .card__price {
  font: 800 1.3rem "Roboto";
  color: #ad7d24;
  width: 100px;
  text-align: right;
}

.reservations {
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: rgba(0, 0, 0, 0.87);
}

.online-booking {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1000px;
      grid-template-columns: 400px 1000px;
  margin: 0px auto;
  padding: 100px 0px;
  height: 900px;
}

.left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
}

.left-part .container {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  padding-top: 70px;
  border: 1px dashed white;
  color: white;
}

.left-part .container__title {
  position: relative;
  font: 2.2rem "Poppins";
}

.left-part .container__title::before {
  content: "Time";
  position: absolute;
  font: 3.5rem "Allura";
  color: #ad7d24;
  top: -45px;
  left: 5px;
}

.left-part .container__image {
  height: 50px;
  width: 50px;
}

.left-part .container__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-part .container__days {
  font: 1.5rem "Poppins";
  text-transform: uppercase;
  color: #ad7d24;
  margin: 20px 0px;
}

.left-part .container__hours {
  font: 1.2rem "Roboto";
}

.right-part {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.right-part .container {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0px 50px 0px;
}

.right-part .container__title {
  position: relative;
  font: 800 2.5rem "Poppins";
}

.right-part .container__title::before {
  content: "Reservation";
  position: absolute;
  font: 3.5rem "Allura";
  color: #ad7d24;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.right-part form {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-part form > div {
  width: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 50px;
}

.right-part form > div :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-part #select {
  width: 80px;
  text-align: center;
}

.right-part .input-style {
  border: none;
  font-size: 1.2rem;
  width: 100%;
}

.right-part .after {
  position: relative;
}

.right-part .after::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: #b9b9b9;
  top: 40px;
}

.right-part .submit-btn {
  margin-top: 100px;
  padding: 18px 50px;
  border-radius: 45px;
  background: rgba(0, 0, 0, 0.87);
  color: white;
  font: 1.3rem "Poppins";
  letter-spacing: 5px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */